

.logo {
 height: 5vh;

}

.cabecera{
    background-color: #8121bd !important;
    border-bottom:  5px solid #172c3a; 
   
}

a{
    color: white !important;
    text-decoration: none;
    font-size: 15px;
}

body{
    background-color: rgb(163, 151, 236);
    margin: 0%;
    padding: 0%;
}

.active {
    background-color: #cfcfcf !important;
    color: rgb(3, 3, 3) !important;
}
.imagenBoton{
    height: 80vh;

 
   
}
.cuerpo{
    height: 80vh;
}
.cuerpoServicio{
    height: 60vh;
}
.footer {
    background-color: #172c3a;
    height: 20vh;
    margin: 0%;
    padding: 0%;
}


 li a i {
    color:#cfcfcf;
    width: 24px !important;
    height: 50px !important;
 }

 .texto-footer{
    color: #cfcfcf;
 }

 .card {
    background-color: rgba(0, 0, 0, 0.068) !important;
    box-shadow: 1px 10px 0px 0px rgba(0, 0, 0, 0.144)
 }